<!-- <% include header.html %> -->

<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Starter Template</h1>
    <div class="row center">
      <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>

  </div>
</div>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1 limit-height-12vh">
      <div class="card-content white-text">
        <span class="card-title">Card Title</span>
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="login_container">
  <div class="login_item">
    <form method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1"><%= __('Email address') %></label>
        <input name="email" value="<%= email %>" type="email" class="form-control" id="exampleInputEmail1"
          aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp"
          class="form-text text-muted"><%= __('We will never share your email with anyone else.') %></small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1"><%= __('Password') %></label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary"><%= __('Submit') %></button>
      <div><%= error %></div>
    </form>
  </div>
</div> -->
<!-- 
<% include footer.html %> -->