body {
  margin: auto; 
}

.layout {
  flex-grow: 1;
  background-color: #56e2b6;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
}
.apiInfo {
font-size: large;
  
}
